@font-face {
  font-family: 'Script';
  src: url('./Tangerine-Regular.ttf');
  font-style: normal;
}

@font-face {
  font-family: 'Headers';
  src: url('./MedievalSharp-Regular.ttf');
  font-style: normal;
}
html {
    color: white;
    background-image: url('./imgs/BLACK_VII_desktop-2.jpg');
}    

img {
  width: 300px;
  height: 300px;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

p, h1, h2, a {
  text-align: center;
}


h1 {
font-family: 'Headers';
}

h2 {
font-family: 'Headers';
}

p {
font-family: 'Script';
}

a, address {
  text-decoration: none;
  color: black;
  text-align: center;
  font-family: "Script";
font-weight: bold;
font-size: 1.25em;
}

nav {
  background-color: red;
}

button {
  background-color: red;
  width: 100%;
  height: 100%;
  border: 3px solid black;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.emphasis {
  font-family: 'Headers';
}

.address {
  color: aquamarine;
  text-decoration: none;
}