html {
    color: white;
    background-image: url('./imgs/BLACK_VII_desktop-2.jpg');
}    

img {
  width: 300px;
  height: 300px;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

p, h1, h2 {
  text-align: center;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}